.wrap {width: 100%;}

/* header */
#header {width: 100%;height: 100px;padding-left: 250px;padding-right: 250px;margin-bottom: 40px;}
#header h1 { margin: 40px 260px; position: absolute; left: 0; top: 0;}
#header .nav {padding:50px 265px ;width: 900px;}
#header .nav li{padding-left: 75px; float: left;}
#header .nav li a { font-size: 20px;}
#header .all-menu {position: absolute; right: 0; top: 0;margin: 40px 270px;}
#header .all-menu li {display: inline;padding-left: 20px;}
#header .all-menu li a {font-size: 35px;}

/* mainvisual */
#mainvisual {width:100%; height:620px; position: relative;background-color:#f1f6fa}
#mainvisual .bg {width: 100%;height: 620px;}
#mainvisual .bg img {width: 420px; height: 400px;position: absolute;right: 250px;top: 110px;}
#mainvisual .menu {position: absolute; left:300px; top: 160px; width: 500px; height: 360px;}
#mainvisual .menu ul {box-sizing: border-box;text-align: center;}
#mainvisual .menu ul li {float: left;}
#mainvisual .menu a img {width: 44px;margin:15px 35px;}
#mainvisual .menu a span {font-size: 15px;display:block;}
#mainvisual .side {position: absolute; top: 0; right:50px;}
#mainvisual .side span {font-size: 15px; color: #1ea4eb;font-weight: 600;}

/* service */
#content .service {width: 100%;height: 300px;position: relative;background-color: #92b3d2;}
#content .service .left {width: 580px;height: 150px;position: absolute;left: 264px; top: 95px;position: relative;}
#content .service img {width: 120px;position: absolute;top:0; left: 400px;}
#content .service h2 {font-size: 30px;color: #fff;font-weight: 600;}
#content .service p {font-size: 17px;margin-top: 20px;color: #fff;font-weight: 400;}
#content .service p span {color:#345394;font-weight: 600;}
#content .service .right {width: 580px;height: 150px;position: absolute;right: 264px; top: 95px;}

/* text */
#content .text {width: 100%; height: 400px;}
#content .text h2 {font-size: 40px;font-weight: 600;text-align: center;margin-top: 160px;}
#content .text strong {font-size: 25px;color: #335293;font-weight: 600;display: block;text-align: center;margin-top: 60px;}
#content .text p {font-size: 15px;;font-weight: 400;text-align: center;margin-top:45px;}

/* tv */
#content .tv {width: 100%; height: 1000px;}
#content .tv h2 {font-size: 40px;text-align: center;font-weight: 600;}
#content .tv video {margin-left:350px; margin-top: 110px;}

/* news */
#content .news {width: 100%; height: 600px;}
#content .news h2 {font-size: 40px; font-weight: 600;text-align: center;margin-bottom: 100px;}
#content .news ul {margin-left: 250px;}
#content .news ul li {border: 2px solid #dcdcdc; border-radius: 10px; width: 430px; height: 250px; margin-right: 20px; float: left;}
#content .news ul li a {display: block; padding:50px;width:320px; height: 100px;}
#content .news ul li p {font-size: 20px; font-weight: 600;padding-bottom: 10px;}
#content .news ul li em {font-size: 12px;}

/* footmenu */
#footer {width: 100%;height: 680px;background-color: #cfe9f6; }
#footer .footmenu {width: 1300px; height: 350px; }
#footer .footmenu ul {width: 1300px; height:250px; padding: 50px 300px;border-bottom: 1px solid #b3b3b3;}
#footer .footmenu ul li {float: left;margin-left: 150px;}
#footer .footmenu ul li p {font-size: 10px;line-height: 2;}
#footer .footmenu ul li .first {font-weight: 600;font-size: 10px; padding-bottom: 10px;}

#footer .inner {width: 1300px;height: 350px;position: relative;}
#footer .left {width: 1100px; height: 100px;margin: 50px 0 10px 200px;}
#footer .left .first {color:#1ea4eb; font-weight: 600; border: none;margin-right: 20px;}
#footer .left li {float: left; margin-left: 20px;position: relative;}
#footer .left li::after {content:'';display: block;width: 10px;height: 10px;position: absolute;top: 5px;right: -11px;border-right: 1px solid #b3b3b3;}
#footer .right {width:500px; height: 90px;position: relative;}
#footer .right i{font-size: 40px;padding-left: 10px;}
#footer .right li {width: 400px;position: absolute;left: 1400px;top: 0;display: block;}
#footer .bottom {width: 800px;height: 100px;margin-left: 200px;float: left;}
#footer .bottom li {float: left; line-height: 2; padding-left: 20px;}
